@font-face {
    font-family: "Heavy Data Nerd Font";
    src: url("assets/fonts/Heavy\ Data\ Nerd\ Font\ Complete.ttf");
}

body {
    text-align: center;
    background-color: #383838;
}

.flex-center {
    margin: 10vmax;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index-title {
    font-family: Heavy Data Nerd Font;
    font-size: 90px;
    padding-top: 50px;
    font-size: 84px;
}

.about-title {
    font-family: Heavy Data Nerd Font;
    font-size: 90px;
    color: #FCFEC1;
    padding-top: 50px;
    font-size: 84px;
}

.screenshots-title {
    font-family: Heavy Data Nerd Font;
    font-size: 90px;
    color: #FCFEC1;
    padding-top: 50px;
    font-size: 84px;
}

.title-front {
    color: #FCFEC1;
}

.title-back {
    color: #FE9647;
}

.image-icon {
    padding-top: 10px;
    padding-right: 5px;
    align-items: center;
}

.description {
    font-family: cursive;
    font-size: 18px;
    color: #FCFEC1;
    margin-top: -50px;
}

.screenshot {
    max-width: 100%;
}

a:link {
    color: #FCFEC1;
    text-decoration: none;
}

a:active {
    color: mintcream;
    text-decoration: none;
}

a:visited {
    color: coral;
    text-decoration: none;
}

a:hover {
    color: #FE9647;
    text-decoration: underline;
}
